# Automated Output ZIP Files
pt-br.zip
BetterRTX-Installer.zip
Output/*
*/*.zip
*.mcpack

# Prevents any accidental releases of Material Bin files with the installer if I put them in my folder
*.material.bin

# Ignore any DLLs
*.dll

# ignore the output folder
output*

random-tangents/*
log.txt

src/build
*pycache*
src/storage